
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Happy+Monkey&family=Jacques+Francois+Shadow&display=swap');


.navbar{
    background-color: black ;
}

.nav-link{
    color: rgb(218, 165, 32);
font-size: 27px;
font-family: "Bebas Neue", sans-serif;
padding: 10px;
margin: 20px;
text-shadow: 0 0 5px rgba(255, 217, 0, 0.705);
}
.jumbotron{
    background-image: url(./imagenes/fondo\ nue.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    border: 1px solid rgba(218, 165, 32, 0.644);
    font-size: 30px;

}
.desc1{
    font-size: 35px;
    text-shadow: 0 0 5px goldenrod;
    font-family: "Bebas Neue", sans-serif;
}
.btn{
    font-size: 23px;
    text-shadow: 0 0 5px black;;
}
.cat{
    background-image: url(./imagenes/vw\ combie.jpg);
    height: 400px;
   background-size: cover;
    background-position: center;
}
.row .cat{
    border: 1px solid goldenrod;
}
.row .vend{
    border: 1px solid goldenrod;
}
.row h2{
    font-size: 55px;
    color: black;
    text-shadow: 5px 5px 10px goldenrod;
    border-radius: 2px;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    margin-left: 200px;
    font-family: "Bebas Neue", sans-serif;
}
.vend{
    background-image: url(./imagenes/auto\ 1.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
   
}

.row .btn {
    margin-left: 50%
}
.container-fluid{
    background-image: url(./imagenes/fondo\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.text-center{
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0 0 5px goldenrod;
    color: black;
}   
.text-p{
    color: white;
    text-shadow: 0 0 5px goldenrod;
    margin: 20px;
}
.tex2{
    font-size: 35px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.mapa{
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}
.mapa .card{
    background-color: rgba(255, 255, 255, 0.349);
    padding: 20px;
    color: black;
    text-shadow: 0 0 5px goldenrod;
    text-align: center;
    background-size: cover;
    margin-left: auto;
}
.fa-whatsapp{
    margin-right: 10px;
    color: greenyellow;
}
.fa-map-location-dot{
    margin-right: 10px;
    color: red;
}
.fa-envelope{
    margin-right: 10px;
    color: white;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.t-imput{
    color: black;
    font-family: "Archivo Black", system-ui;
    text-shadow: 0 0 10px goldenrod;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.card-title{
    font-size: 25px;
    font-family:fantasy;
    text-shadow: 0 0 10px goldenrod;
    text-align: center;
}
.card-text{
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}
.btn{
    border-radius: 10px ;
    width: auto;
    text-align: center;
    color: black;
    background-color: rgb(218, 165, 32);
    font-size: 24px; 
    border-color: black;
    font-family: "Archivo Black", system-ui;
    text-shadow: 0 0 4px rgb(250, 246, 246);
   margin: 20px;
}
.btn-primary{
    border-radius: 10px ;
    width: auto;
    text-align: center;
    color: black;
    background-color: goldenrod;
    font-size: 24px;
    }
.btn-primary:hover{
    background-color:white;
}

.form1{
    background-image: url(./imagenes/fondo\ 5.jpg);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: auto;
    align-items: center;
  background-size: cover;
  font-size: 30px;
 }

 input{
    padding: 20px;
 border-radius: 25px;
 background-color: goldenrod;
 font-size: 20px;
width: 500px;
margin-bottom: 25px;
margin-top: 20px;
box-shadow: 0 0 10px black;

}

.map1{
    color: goldenrod;
    padding: 25px;

  
}
.map1 p{
    padding: 20px;
}
iframe{
    width: auto;
}
footer{
    background-color: black;
    color: goldenrod;
    font-size: 23px;
    text-align: center;
    text-shadow: 0 0 3px white;
    
}
footer .redes a{
    color: antiquewhite;
    font-size: 30px;
    color: goldenrod;
    text-decoration:none;
    padding: 10px;
}